<section id="about" class="number wow fadeInUp" data-wow-delay="300ms">
        <!-- change the image in style.css to the class .number .container-fluid [approximately row 102] -->
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 opaline col-md-offset-6">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>{% t about.title %}</h3>
                                <h5>{% t about.subtitle %}</h5>
                                <p>{% t about.text %}</p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <!-- set the numbers in assets/js/scripts.js  -->
                            <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-1 col-md-offset-1 col-sm-6 wow fadeInUp">
                                <h5>Ultricies</h5>
                                <h3 class="01 odometer odometer-theme-default">
                                	<div class="odometer-inside">
                                		<span class="odometer-digit">
                                			<span class="odometer-digit-spacer">8</span>
                                			<span class="odometer-digit-inner">
                                				<span class="odometer-ribbon">
                                					<span class="odometer-ribbon-inner">
                                						<span class="odometer-value">2</span>
                                					</span>
                                				</span>
                                			</span>
                                		</span>
                                		<span class="odometer-digit">
                                			<span class="odometer-digit-spacer">8</span>
                                			<span class="odometer-digit-inner">
                                				<span class="odometer-ribbon">
                                					<span class="odometer-ribbon-inner">
                                						<span class="odometer-value">3</span>
                                					</span>
                                				</span>
                                			</span>
                                		</span>
                                		<span class="odometer-formatting-mark">,</span>
                                		<span class="odometer-digit">
                                			<span class="odometer-digit-spacer">8</span>
                                			<span class="odometer-digit-inner">
                                				<span class="odometer-ribbon">
                                					<span class="odometer-ribbon-inner">
                                						<span class="odometer-value">5</span>
                                					</span>
                                				</span>
                                			</span>
                                		</span>
                                		<span class="odometer-digit">
                                			<span class="odometer-digit-spacer">8</span>
                                			<span class="odometer-digit-inner">
                                				<span class="odometer-ribbon">
                                					<span class="odometer-ribbon-inner">
                                						<span class="odometer-value">7</span>
                                					</span>
                                				</span>
                                			</span>
                                		</span>
                                		<span class="odometer-digit">
                                			<span class="odometer-digit-spacer">8</span>
                                			<span class="odometer-digit-inner">
                                				<span class="odometer-ribbon">
                                					<span class="odometer-ribbon-inner">
                                						<span class="odometer-value">8</span>
                                					</span>
                                				</span>
                                			</span>
                                		</span>
                                	</div>
                                </h3>
                            </div>
                            <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-2 col-md-offset-2 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
                                <h5>Fermentum</h5>
                                <h3 class="02 odometer odometer-theme-default">
                                	<div class="odometer-inside">
                                		<span class="odometer-digit">
                                			<span class="odometer-digit-spacer">8</span>
                                			<span class="odometer-digit-inner">
                                				<span class="odometer-ribbon">
                                					<span class="odometer-ribbon-inner">
                                						<span class="odometer-value">1</span>
                                					</span>
                                				</span>
                                			</span>
                                		</span>
                                		<span class="odometer-digit">
                                			<span class="odometer-digit-spacer">8</span>
                                			<span class="odometer-digit-inner">
                                				<span class="odometer-ribbon">
                                					<span class="odometer-ribbon-inner">
                                						<span class="odometer-value">2</span>
                                					</span>
                                				</span>
                                			</span>
                                		</span>
                                		<span class="odometer-formatting-mark">,</span>
                                		<span class="odometer-digit">
                            				<span class="odometer-digit-spacer">8</span>
                            				<span class="odometer-digit-inner">
                            					<span class="odometer-ribbon">
                            						<span class="odometer-ribbon-inner">
                            							<span class="odometer-value">7</span>
                            						</span>
                            					</span>
                            				</span>
                            			</span>
                            			<span class="odometer-digit">
                            				<span class="odometer-digit-spacer">8</span>
                            				<span class="odometer-digit-inner">
                            					<span class="odometer-ribbon">
                            						<span class="odometer-ribbon-inner">
                            							<span class="odometer-value">0</span>
                            						</span>
                            					</span>
                            				</span>
                            			</span>
                            			<span class="odometer-digit">
                            				<span class="odometer-digit-spacer">8</span>
                            				<span class="odometer-digit-inner">
                            					<span class="odometer-ribbon">
                            						<span class="odometer-ribbon-inner">
                            							<span class="odometer-value">2</span>
                            						</span>
                            					</span>
                            				</span>
                                		</span>
                                	</div>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>