<section id="blurbs" class="section paralax" style="background-image: url('{{ site.imageurl }}{{ page.blurbs.image }}');">
	<div class="container">
		<div class="row top">
			<div class="column col-xs-12">
				<h2>{{ page.blurbs.title }}</h2>
			</div>
		</div>
		<div class="row bottom flex">
			<div class="column flex col-xs-12 col-sm-4">
				<h3>{{ page.blurbs.box1.title }}</h2>
				<p>{{ page.blurbs.box1.text }}</p>
				<a href="{{ page.blurbs.box1.btn.href }}" class="button">{{ page.blurbs.box1.btn.text }}</a>
			</div>
			<div class="column flex col-xs-12 col-sm-4">
				<h3>{{ page.blurbs.box2.title }}</h2>
				<p>{{ page.blurbs.box2.text }}</p>
				<a href="{{ page.blurbs.box2.btn.href }}" class="button">{{ page.blurbs.box2.btn.text }}</a>
			</div>
			<div class="column flex col-xs-12 col-sm-4">
				<h3>{{ page.blurbs.box3.title }}</h2>
				<p>{{ page.blurbs.box3.text }}</p>
				<a href="{{ page.blurbs.box3.btn.href }}" class="button">{{ page.blurbs.box3.btn.text }}</a>
			</div>
		</div>
	</div>
</section>