<section id="contact" class="prefooter wow fadeInUp" data-wow-delay="300ms">
    <!-- change the image in style.css to the class .prefooter .container-fluid [approximately row 154] -->
    <div class="container-fluid" style="
        background:
            linear-gradient(
                rgba(33, 37, 43, 0.6),
                rgba(33, 37, 43, 0.6)
            ),
            url('{{ page.contact_image  }}')
    ">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>{{ page.contact_title }}</h3>
                    <p>{{ page.contact_text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>