<section id="feat">
    <div class="container">
    	<div class="row features">
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="{{ page.feat.box1.interval }}">
                <span class="typcn {{ page.feat.box1.icon }} x3"></span>
                <h4>{{ page.feat.box1.title }}</h4>
                <p>{{ page.feat.box1.text }}</p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="{{ page.feat.box2.interval }}">
                <span class="typcn {{ page.feat.box2.icon }} x3"></span>
                <h4>{{ page.feat.box2.title }}</h4>
                <p>{{ page.feat.box2.text }}</p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="{{ page.feat.box3.interval }}">
                <span class="typcn {{ page.feat.box3.icon }} x3"></span>
                <h4>{{ page.feat.box3.title }}</h4>
                <p>{{ page.feat.box3.text }}</p>
            </div>
        </div>
    </div>
</section>