<footer class="section black">
    <div class="container">
        <div class="row flex">
            <div class="column flex col-xs-12 col-sm-4">
                <h3>{{ site.footer.box1.title[page.lang] }}</h3>
                <p>
                    {{ site.footer.box1.address[page.lang] }}<br>
                    {{ site.footer.box1.phone[page.lang] }}<br>
                    {{ site.footer.box1.email[page.lang] }}<br>
                    {{ site.footer.box1.other[page.lang] }}
                </p>
                <a href="{{ site.footer.box1.btn.href[page.lang] }}" class="button">{{ site.footer.box1.btn.text[page.lang] }}</a>
            </div>
            <div class="column flex col-xs-12 col-sm-4">
                <h3>{{ site.footer.box2.title[page.lang] }}</h3>
                <p>
                    {{ site.footer.box2.address[page.lang] }}<br>
                    {{ site.footer.box2.phone[page.lang] }}<br>
                    {{ site.footer.box2.email[page.lang] }}<br>
                    {{ site.footer.box2.other[page.lang] }}
                </p>
                <a href="{{ site.footer.box2.btn.href[page.lang] }}" class="button">{{ site.footer.box2.btn.text[page.lang] }}</a>
            </div>
            <div class="column flex col-xs-12 col-sm-4">
                <h3>{{ site.footer.box3.title[page.lang] }}</h3>
                <p>
                    {{ site.footer.box3.address[page.lang] }}<br>
                    {{ site.footer.box3.phone[page.lang] }}<br>
                    {{ site.footer.box3.email[page.lang] }}<br>
                    {{ site.footer.box3.other[page.lang] }}
                </p>
                <a href="{{ site.footer.box3.btn.href[page.lang] }}" class="button">{{ site.footer.box3.btn.text[page.lang] }}</a>
            </div>
        </div>
        <div class="row bottom">
            <div class="column col-xs-12 col-sm-6">
                <p>&copy; {{ site.footer.copy }}</p>
            </div>
            <div class="column col-xs-12 col-sm-6 text-right">
                <p>{{ site.footer.social }}</p>
            </div>
        </div>
    </div>
</footer>