<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>{{ page.footer_logo }}</h3>
                <p>{{ page.footer_text }} <a target="_blank" href="{{ page.footer_link }}">{{ page.footer_text_link }}</a></p>
            </div>
            <div class="col-md-4">
                <p class="text-right social">
                    
                {% if site.facebook %}
                    <a href="{{ site.facebook }}" target="_blank">
                      <i class="typcn typcn-social-facebook-circular"></i>
                    </a>
                {% else %}
                    <i class="typcn typcn-social-facebook-circular"></i>
                {% endif %}
                
                {% if site.twitter %}    
                    <a href="{{ site.twitter }}" target="_blank">
                      <i class="typcn typcn-social-twitter-circular"></i>
                    </a>
                {% else %}
                    <i class="typcn typcn-social-twitter-circular"></i>
                {% endif %}
                
                    <i class="typcn typcn-social-tumbler-circular"></i>
                    <i class="typcn typcn-social-github-circular"></i>
                    <i class="typcn typcn-social-dribbble-circular"></i>
                </p>
            </div>
        </div>
    </div>
</footer>