<section id="how-we-do-it" class="section black">
	<div class="container">
		<div class="row">
			<div class="column col-xs-12">
				<div class="masonry image-gallery">
	                <div class="grid-sizer"></div>
	                <div class="gutter-sizer"></div>
	                <div class="item item-width2">
	                    <h2>{{ page.gallery.title }}</h2>
	                    <p>{{ page.gallery.text }}</p>
	                </div>
	                {% for image in page.gallery.images %}
	                {% if image[1] == 2 %}
	                <div class="item item-width2">
	                {% else %}
	                <div class="item">
	                {% endif %}
	                	<a href="{{ site.imageurl }}{{ image[0] }}">
	                		<img src="{{ site.imageurl }}{{ image[0] }}" alt="" />
	                	</a>
	                </div>
	                {% endfor %}
	                <!--
	                <div class="item item-width2">
	                    <a href="assets/img/7004.jpg">
	                      <img src="assets/img/7004.jpg" alt="">
	                    </a>
	                </div>
	                <div class="item item-width2">
	                    <a href="assets/img/7953.jpg">
	                      <img src="assets/img/7953.jpg" alt="">
	                    </a>
	                </div>
	                <div class="item">
	                    <a href="https://unsplash.it/1000/600?image=505">
	                      <img src="https://unsplash.it/400/400?image=505" alt="">
	                    </a>
	                </div>
	                <div class="item item-width2">
	                    <a href="https://unsplash.it/1000/600?image=451">
	                      <img src="https://unsplash.it/600/140?image=451" alt="">
	                    </a>
	                </div>
	                <div class="item">
	                    <a href="https://unsplash.it/1000/600?image=523">
	                      <img src="https://unsplash.it/320/776?image=523" alt="">
	                    </a>
	                </div>
	                <div class="item">
	                    <a href="https://unsplash.it/800/800?image=454">
	                      <img src="https://unsplash.it/4403/2476?image=454" alt="">
	                    </a>
	                </div>
	                <div class="item item-width2">
	                    <a href="https://unsplash.it/800/800?image=515">
	                      <img src="https://unsplash.it/585/439?image=515" alt="">
	                    </a>
	                </div>
	                -->
				</div>
			</div>
		</div>
	</div>
</section>