<section id="gallery" class="section trans">
	<div class="container">
		<div class="row">
			<div class="column col-xs-12">
				<div class="masonry image-gallery">
	                <div class="grid-sizer"></div>
	                <div class="gutter-sizer"></div>
	                <div class="item item-width2">
	                    <h2>{{ page.gallery.title }}</h2>
	                    <p>{{ page.gallery.text }}</p>
	                </div>
	                {% for image in page.gallery.images %}
	                {% if image.width == 2 %}
	                <div class="item item-width2">
	                {% else %}
	                <div class="item">
	                {% endif %}
	                	<img src="{{ site.imageurl }}{{ image.image }}" alt="" />
	                </div>
	                {% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>