<!--
<header id="fixed-header">
    <div class="container">
        <div class="row">
            <div class="column col-xs-12 text-right">
                <ul class="menu">
                    <li>
                        {% if page.lang == 'cn' %}
                        <a href="{{ site.imageurl }}cn" class="current">{{ site.header.menu.cn }}</a>
                        {% else %}
                        <a href="{{ site.imageurl }}cn">{{ site.header.menu.cn }}</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page.lang == 'en' %}
                        <a href="{{ site.imageurl }}cn" class="current">{{ site.header.menu.en }}</a>
                        {% else %}
                        <a href="{{ site.imageurl }}cn">{{ site.header.menu.en }}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
-->

{% if page.layout != 'default' %}
<header id="home" class="half">
{% else %}
<header id="home">
{% endif %}
    <div class="container-fluid" style="
        background-image: 
            url('{{ site.imageurl }}gd-logo.svg'), 
            -webkit-linear-gradient(top, rgba(16,24,32,0.2) 100%,rgba(16,24,32,0.2) 100%), 
            url('{{ site.imageurl }}{{ site.header.image }}');
        background-image: 
            url('{{ site.imageurl }}gd-logo.svg'), 
            -moz-linear-gradient(top, rgba(16,24,32,0.2) 100%,rgba(16,24,32,0.2) 100%), 
            url('{{ site.imageurl }}{{ site.header.image }}');
        background-image: 
            url('{{ site.imageurl  }}gd-logo.svg'), 
            linear-gradient(to bottom, rgba(16,24,32,0.2) 100%,rgba(16,24,32,0.2) 100%), 
            url('{{ site.imageurl }}{{ site.header.image }}');
    ">
        <div class="container">
            <div class="row">
                <div class="column col-xs-12 text-right">
                    <ul class="menu">
                        <li>
                            {% if page.lang == 'cn' %}
                            <a href="{{ site.siteurl }}cn" class="current">中文</a>
                            {% else %}
                            <a href="{{ site.siteurl }}cn">中文</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if page.lang == 'en' %}
                            <a href="{{ site.siteurl }}cn" class="current">English</a>
                            {% else %}
                            <a href="{{ site.siteurl }}cn">English</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if page.lang != 'default' %}
    <span class="country">{{ page.subtitle }}</span>
    {% endif %}
</header>