{% if page.layout != 'default' %}
<header id="home" class="half">
{% else %}
<header id="home">
{% endif %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="column col-xs-12 text-right">
                    <ul class="menu">
                        <li>
                            {% if page.lang == 'cn' %}
                            <a href="{{ site.siteurl }}cn" class="current">中文</a>
                            {% else %}
                            <a href="{{ site.siteurl }}cn">中文</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if page.lang == 'en' %}
                            <a href="{{ site.siteurl }}" class="current">English</a>
                            {% else %}
                            <a href="{{ site.siteurl }}">English</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if page.lang != 'default' %}
    <span class="country">{{ page.subtitle }}</span>
    {% endif %}
</header>