<section id="history" class="story wow fadeInUp" data-wow-delay="300ms">
    <!-- change the image in style.css to the class .story .container-fluid [approximately row 141] -->
    <div class="container-fluid" style="background-image: url('{{ page.history_image  }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-6 opaline">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p class="lead"><i>
                                {{ page.history_lead }}
                            </i></p>
                            <p><i>
                                {{ page.history_text }}
                            </i></p>
                            <h6 class="lead"> – {{ page.history_name }}</h6>
                            <p>
                            	<small>{{ page.history_small }}</small>
							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>