<script src="{{ site.siteurl }}assets/js/jquery.min.js"></script>
<script src="{{ site.siteurl }}assets/js/masonry.pkgd.js"></script>
<script src="{{ site.siteurl }}assets/js/script.js"></script>
<!--
<script src="{{ site.siteurl }}assets/js/bootstrap.min.js"></script>
<script src="{{ site.siteurl }}assets/js/twitter-bootstrap.js"></script>
<script src="{{ site.siteurl }}assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{ site.siteurl }}assets/js/pushy.min.js"></script>
<script src="{{ site.siteurl }}assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{ site.siteurl }}assets/js/wow.min.js"></script>
<script src="{{ site.siteurl }}assets/js/odometer.js"></script>
-->