<script src="{{ "/assets/js/jquery.min.js" }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-scrollspy.js"></script>
<script src="{{ "/assets/js/ie10-viewport-bug-workaround.js" }}"></script>
<script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
<script src="{{ "/assets/js/masonry.js" }}"></script>
<script src="{{ "/assets/js/pushy.min.js" }}"></script>
<script src="{{ "/assets/js/jquery.magnific-popup.min.js" }}"></script>
<script src="{{ "/assets/js/wow.min.js" }}"></script>
<script src="{{ "/assets/js/scripts.js" }}"></script>
<script src="{{ "/assets/js/odometer.js" }}"></script>