<script src="{{ "/scripts/jquery.min.js" }}"></script>
		<script src="{{ "/scripts/bootstrap.min.js"></script>
		<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-scrollspy.js"></script>
		<script src="{{ "/scripts/ie10-viewport-bug-workaround.js" }}"></script>
		<script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
		<script src="{{ "/scripts/masonry.js" }}"></script>
		<script src="{{ "/scripts/pushy.min.js" }}"></script>
		<script src="{{ "/scripts/jquery.magnific-popup.min.js" }}"></script>
		<script src="{{ "/scripts/wow.min.js" }}"></script>
		<script src="{{ "/scripts/scripts.js" }}"></script>
		<script src="{{ "/scripts/odometer.js" }}"></script>
		<script src="{{ "/scripts/script.js" }}"></script>