<section id="map">
</section>
<section id="offices" class="section black">
	<div class="container">
		<div class="row flex">
			<div class="column flex col-xs-12 col-sm-4">
				<h2>{{ page.map.box1.title }}</h2>
				<p>{{ page.map.box1.text }}</p>
				<a href="{{ page.map.box1.btn.href }}" class="button">{{ page.map.box1.btn.text }}</a>
			</div>
			<div class="column flex col-xs-12 col-sm-4">
				<h2>{{ page.map.box2.title }}</h2>
				<p>{{ page.map.box2.text }}</p>
				<a href="{{ page.map.box2.btn.href }}" class="button">{{ page.map.box2.btn.text }}</a>
			</div>
			<div class="column flex col-xs-12 col-sm-4">
				<h2>{{ page.map.box3.title }}</h2>
				<p>{{ page.map.box3.text }}</p>
				<a href="{{ page.map.box3.btn.href }}" class="button">{{ page.map.box3.btn.text }}</a>
			</div>
		</div>
	</div>
</section>