<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2>{% t news.title %}</h2>
                    {% t news.text %}
                    <a class="btn btn-danger btn-lg" href="{% t news.button.url %}">
                        {% t news.button.text %} <i class="fa fa-arrow-circle-o-right"></i>
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="{% t news.imageurl %}">
                        <img src="{% t news.image %}" alt="" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
    </section>