<section id="who-we-are" class="section black">
	<div class="container">
		<div class="row">
			<div class="column col-xs-12 col-sm-6">
				<h2>{{ page.who_we_are.title }}</h2>
				<p>{{ page.who_we_are.text }}</p>
			</div>
			<div class="column col-xs-12 col-sm-6">
				<img class="float" src="{{ site.siteurl }}{{ page.who_we_are.image }}" />
			</div>
		</div>
	</div>
</section>
<section class="divider" style="background-image: url('{{ site.siteurl }}{{ page.who_we_are.divider }}');"></section>