<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Gelly Design</title>
      <meta name="viewport" content="width=device-width">
      {% include css.html %}
  </head>
  <body>
    {% include nav.html %}
    {% include overlay.html %}
    {% include header.html %}
    {% include feat.html %}
    {% include about.html %}
    {% include news.html %}
    {% include history.html %}
    {% include photos.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    
    {% include js.html %}
  </body>
</html>
